 @font-face {
    font-family: 'Flynn';
    src: url('https://www.dafont.com/flynn.font');
}

body {
    margin: 0px;
}

#playButton {
    padding: 3vh 2.5vw;
    background-color: #3454e3;
    color: white;
    font-family: Flynn;
    font-size: 2.5vw;
    height: fit-content;
    width: fit-content;
    border-radius: 1vw;
    border: none;
    min-width: 20%;
    bottom: 2.5vh;
    position: relative;
}

.animGrow {
    transition: all .2s ease-in-out;
}

.animGrow:hover {
    transform: scale(1.1)
}

#versionText {
    position: absolute;
    display: inline-block;
    right: 1vw;
    bottom: 1vw;
    color: white;
    font-family: Flynn;
    font-size: 1.5vw;
}

.viewport {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: calc(90% - 8px); */
    height: 100vh;
    flex-grow: 1;
}

.viewport#original {
    background-image: url("assets/CyberDash1.png");
}

.viewport#twod {
    background-image: url("assets/CyberDash2D.png");
}

.viewport#newCalamities {
    background-image: url("assets/CyberDashNewCalamities.png");
}

.sidebar {
    background-color: black;
    width: 5%;
    height: 100vh;
    display: inline-flex;
    border-left: black 2px solid;
    border-right: black 2px solid;
    justify-content: center;
    align-items: flex-start;
}

.sidebar_label {
    color: white;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 3vw;
    padding-bottom: 1vh;
}

.hide {
    display: none !important;
}

.childDiv {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
}

.sidebar:hover {
    border-left: red 2px solid;
    border-right: red 2px solid;
}

body {
    display: flex;
    flex-direction: row;
}