 @font-face {
    font-family: 'Flynn';
    src: url('assets/fonts/Flynn\ Bold.otf');
}

@font-face {
    font-family: 'Cyberfall';
    src: url('assets/fonts/Cyberfall.otf');
}

@font-face {
    font-family: 'Pixel';
    src: url('assets/fonts/DePixelBreit.ttf');
}

body {
    margin: 0px;
}

.playButton {
    padding: 3vh 2.5vw;
    background-color: #3454e3;
    color: white;
    height: fit-content;
    width: fit-content;
    border-radius: 1vw;
    border: none;
    min-width: 20%;
    bottom: 2.5vh;
    position: relative;
}

.playButton#original {
    font-family: Flynn;
    -webkit-text-stroke: 0.05em black;
    font-size: 2.5vw;
}

.playButton#twod {
    font-family: Pixel;
    font-size: 2vw;
}

.playButton#newCalamities {
    font-family: Cyberfall;
    font-size: 3.5vw;
    -webkit-text-stroke: 0.05em black;
    background-color: transparent;
    /* color: #5c76e9; */
}

.animGrow {
    transition: all .2s ease-in-out;
}

.animGrow:hover {
    transform: scale(1.1)
}

#versionText {
    position: absolute;
    display: inline-block;
    right: 1vw;
    bottom: 1vw;
    color: white;
    font-family: Flynn;
    font-size: 1.5vw;
}

.viewport {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-grow: 1;
}

.sidebar.open#original {
    background-image: url("assets/images/CyberDash1.png");

    animation: fadeInBackground 0.5s forwards;
}

.sidebar.open#twod {
    background-image: url("assets/images/CyberDash2D.png");

    animation: fadeInBackground 0.5s forwards;
}

.sidebar.open#newCalamities {
    background-image: url("assets/images/CyberDashNewCalamities.png");

    animation: fadeInBackground 0.5s forwards;
}

.sidebar {
    background-color: black;
    width: 5%;
    height: 100vh;
    border-left: black 2px solid;
    border-right: black 2px solid;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 1s, background-color 1s, border 1s, flex-grow 1s;
}

.sidebar:hover {
    border-left: red 2px solid;
    border-right: red 2px solid;
    transition: none;
}

.sidebar.open {
    background-color: transparent;
    width: 0%;
    border: none;
    flex-grow: 1;

    transition: width 1s, background-color 1s, border 1s, flex-grow 1s;
}

.sidebar.open:hover {
    border-left: none !important;
    border-right: none !important;
}

.sidebar_label {
    color: white;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 3vw;
    padding-bottom: 1vh;
    opacity: 1;
    transition: all 1s;

    margin-top: 5px;
}

.hide {
    display: none !important;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.childDiv {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
    opacity: 1;
    transition: all 1s;
}

body {
    display: flex;
    flex-direction: row;
}

#original-font {
    font-family: Flynn;

    font-size: 3.25vw;
}

#twod-font {
    font-family: Pixel;

    font-size: 2.8vw;
}

#new-calamities-font {
    font-family: Cyberfall;

    font-size: 2.8vw;
}